
<app-main-container></app-main-container>
<!-- <nav>
    <a routerLink="list-of-trips" class="btn" role="button" routerLinkActive="active">Lista Wycieczek</a>
    <a routerLink="form" class="btn" role="button" routerLinkActive="active">Dodaj wycieczkę</a>
    <a routerLink="basket" class="btn" role="button" routerLinkActive="active">Koszyk</a>
    <a routerLink="login" class="btn" role="button" routerLinkActive="active">Logowanie</a>
    <a routerLink="register" class="btn" role="button" routerLinkActive="active">Rejestracja</a>
    
</nav>


<router-outlet> </router-outlet> -->
<!-- <app-list-of-trips (SumOfRese)='getMessage($event)' (basket1)='getM($event)' (basket2)='getM2($event)'></app-list-of-trips>
<app-basket [statistics1]='b1' [statistics2]='b2'></app-basket> -->