


<div [hidden]="submitted" id="formu" style="width: 300px;">
<h3>Dodaj nową wycieczkę</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nazwa: </label><br>
      <input type="text" class="form-control" id="name" required [(ngModel)]="trip.name" name="name" required>
    </div>

    <div class="form-group">
      <label for="country">Kraj: </label><br>
      <input type="text" class="form-control" id="country" required [(ngModel)]="trip.country" name="country" required>
    </div>

    <div class="form-group">
      <label for="start">Data rozpoczęcia: </label><br>
      <input type="date" class="form-control" id="start" required [(ngModel)]="trip.start" name="start" required>
    </div>

    <div class="form-group">
      <label for="end">Data zakończenia: </label><br>
      <input type="date" class="form-control" id="end" required [(ngModel)]="trip.end" name="end" required>
    </div>

    
    <div class="form-group">
      <label for="price">Cena: </label><br>
      <input type="number" class="form-control" id="price" required [(ngModel)]="trip.price" name="price" required>
    </div>

    
    <div class="form-group">
      <label for="seats">Liczba miejsc: </label><br>
      <input type="number" class="form-control" id="seats" required [(ngModel)]="trip.seats" name="seats" required>
    </div>



    <div class="form-group">
      <label for="description">Opis: </label><br>
      <input type="textarea" class="form-control" id="description" required [(ngModel)]="trip.description" name="description" required>
    </div>


 
    <div class="form-group">
      <label for="photo">Zdjęcie: </label><br>
      <input type="text" class="form-control" id="photo" required [(ngModel)]="trip.urlImage" name="photo" required>
    </div>

  
    <button type="submit" class="btn btn-success">Wyslij</button>

</form>
</div>

<div [hidden]="!submitted">
  <h4>Wycieczka została dodana prawidłowo</h4>
  <button class="btn btn-success" (click)="newTrip()">Dodaj</button>
</div>