#formu
{
    width: 20%;
    height: 570px;
    margin: 70px 40%;
    border: 1px gray solid;
    border-radius: 5px;
    box-shadow: 3px 5px 10px gray;
}

.btn
{
    margin: 15px 40%;
    width: 20%;
    border-color: none;
    background-color: rgb(161, 161, 235);
    height: 40px;
    border-radius: 8px;
}

h3
{
    text-align: center;
}

.form-group
{
    margin:4% 10%;
    
}
p
{
     text-align: center;
}
